
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family:'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px 0px;
    background-color: #000000 ;
    color:#FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #0077A1;
    border-radius: 12px;
    transition: all 0.3s ease;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0077A1;
}

.scroll-button a{
    position: fixed;
    bottom: 40px;
    right: 20px;
    color: white;
    padding: 7px 12px;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15);
    z-index: 999;
}
  
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.themeDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#changeTheme{
    color: #fff;
    font-weight: 450;
    padding: 3px 5px;
    border:none;
    border-radius: 5px;
    background: linear-gradient(135deg, #00ddff 0%, #ff00d4 100%);
    transition: all 0.5s;
}

#changeTheme:hover{
    box-shadow:0px 0px 20px #fff;
}

#changeTheme:focus{
    outline: none;
}

.header-container{
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    background-color:#0077A1;
    font-family:'Poppins', sans-serif;
    border: 2px solid white;
    border-radius: 15px;
    width: 95%;
    z-index: 999;
}

h2 {
    color:#0077A1;
    font-family:'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}

h3{
    color:#0077A1;
    font-family:'Ubuntu', sans-serif;
}

.seesaw{
    position:relative;
    animation: nam 15s linear infinite;
}

@keyframes nam
{
    0%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    5%
    {
        transform:perspective(500px) rotateY(25deg);
    }
    10%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    15%
    {
        transform:perspective(500px) rotateY(-25deg);
    }
    20%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    25%
    {
        transform:perspective(300px) rotateY(360deg);
    }
    30%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    35%
    {
        transform:perspective(500px) rotateY(25deg);
    }
    40%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    45%
    {
        transform:perspective(500px) rotateY(-25deg);
    }
    50%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    55%
    {
        transform:perspective(300px) rotateX(360deg);
    }
    60%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    65%
    {
        transform:perspective(500px) rotateY(25deg);
    }
    70%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    75%
    {
        transform:perspective(500px) rotateY(-25deg);
    }
    80%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    85%
    {
        transform: perspective(300px) rotateZ(360deg);
    }
    90%
    {
        transform: perspective(1000px) rotateY(0deg);
    }
    95%
    {
        transform: perspective(500px) rotateY(-25deg);
    }
    100%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
}

.designation1{
    color:rgba(0,0,0,0);
    -webkit-text-stroke: 0.1vw #0077A1;
}

.designation2{
    color:rgba(0,0,0,0);
    -webkit-text-stroke: 0.1vw #0077A1;
} 

.designation1::before{
    content:attr(data-text);
    position:absolute;
    left:20;
    width:0%;
    height:100%;
    color:#0077A1;
    -webkit-text-stroke: 0.1vw #0077A1;
    overflow: hidden;
    animation: desig1 5s linear infinite;
}

@keyframes desig1
{
    0%,10%,100%
    {
        width:0%
    }
    70%,90%
    {
        width:57%;
    }
}

.designation2::before{
    content:attr(data-text);
    position:absolute;
    left:20;
    width:0%;
    height:100%;
    color:#0077A1;
    -webkit-text-stroke: 0.1vw #0077A1;
    overflow: hidden;
    animation: desig2 5s linear infinite;
}

@keyframes desig2
{
    0%,10%,100%
    {
        width:0%
    }
    70%,90%
    {
        width:61%;
    }
}

@media (max-width:600px) {
    @keyframes desig1
    {
        0%,10%,100%
        {
            width:0%
        }
        70%,90%
        {
            width:85%;
        }
    }
    @keyframes desig2
    {
        0%,10%,100%
        {
            width:0%
        }
        70%,90%
        {
            width:90%;
        }
    }
    .abt{
        transform: translateX(40px);
    }
    #changeTheme{
        font-size: small;
        max-width: 70px;
        transform: translateX(20px);
    }
}

.navbar-custom{
    background-color: #0077A1;
    border-radius: 10px;
}

.navbar.navbar-custom {
    border-radius: 30px;
}

.hd-txt{
    color: #fff !important;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800;
    position: relative;
}

.hd-txt::after{
    content:'';
    width:0;
    height:3px;
    background:#fff;
    position:absolute;
    left: 8px;
    bottom:12px;
    transition: 0.6s;
}

.hd-txt:hover::after{ 
    width: 100px;
}

@media (max-width:1000px) {
    .hd-txt::after{
        left:0px;
    }
}

.fon{
    color:#fff !important;
    font-size: 30px;
    font-weight: 1000;
    font-family:'Ubuntu', sans-serif;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    outline: none; 
}

.hamburger-toggler-icon .bar {
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.hamburger-toggler-icon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.hamburger-toggler-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-toggler-icon.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

section{
    margin-top:10px ;
}

a.txt { 
    color:#000000;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

a:hover {
    color: #FFFFFF;
}

p{
    color:#FFFFFF; 
    font-family:'Ubuntu', sans-serif;
    font-size: larger;
}

button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    border: 6px solid #0077A1;
    transition: background-color 0.3s ease;
}

#submit:hover {
    color:#000000;
    background-color: #FFFFFF;
}

#submit{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 15px;
    border-width: 3px;
    border-color:#0077A1;
    transition: background-color 0.3s ease;
}

.id{
    background-color: #000000;
}

.coding{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.code{
    width:300px;
    color:#f1f1f1;
    background-color: #0077A1;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    transition: all 0.4s ease;
}

.code a{
    text-decoration: none;
}

@media (max-width:920px) {
    .coding{
        justify-content: center;
    }
}

.code h4{
    color: #fff;
    display: block;
    font-size:20px;
    font-weight: 600;
    text-align: center;
}

.coding .code center p{
    background-color: #fff;
    width:fit-content;
    color: #0077A1;
    padding:5px 10px;
    border-radius: 5px;
}

.coding .code center{
    padding-top: 15px;
}

.code-img{
    width:40px;
    height:auto;
    display: block;
    margin: 5px auto;
}

.code-logo{
    padding: 2px;
    background-color: #0077A1;
    border-radius: 50%;
    margin:5px auto;
    transition: all 0.4s ease;
    background-color: #fff;
    width: 60px;
    height:60px;
}

.coding .code:hover{
    border: 3px solid #0077A1;
    background: white;
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

.coding .code:hover p{
    color: white;
    background-color: #0077A1;
}

.coding .code:hover .code-logo{
    background: #0077A1;
}

.coding .code:hover .prof-img{
    border: 2px solid #0077A1;
}

.coding .code:hover .platform{
    color: #0077A1;
}

.prof-img{
    width: 275px;
    height: auto;
    margin: 5px 0px;
}

.img-container1 {
    display: flex; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.circle {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}

.circle img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.profile-image{
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 1);
}

@media (max-width:750px) {
    .circle{
        margin: auto;
    }
}

.glowing-text {
    font-size: 36px;
    text-align: center;
    color:aliceblue;
}

.glowing-text h1 {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    text-align: center;
    color:aliceblue;
    text-shadow: 0 0 25px #FFFFFF;
    animation: glow 1.5s ease-in-out infinite; 
}

.glowing-text h3{
    font-size: 50px;
    font-weight: 900;
}

@keyframes glow {
    0% {
        text-shadow: 10 10 30px #0077A1;
    }
    50% {
        text-shadow: 10 10 40px #0077A1;
    }
    100% {
        text-shadow: 10 10 30px #0077A1;
    }
}

.res
{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-left: 25px;
}

.skillset{
    display: flex;
    justify-content: center;
    
}

.skills{
    border: 2px solid #0077A1;
    border-radius: 20px;
    height: 230px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media (max-width: 500px){
    .skills{
        height: fit-content;
        width: 95%
    }
}

.skills:hover {
    box-shadow: 0px 0px 20px white;
}

.skill{
    background-color: #0077A1;
    display: flex;
    border-radius: 15px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.skill:hover{
    transform: scale(1.1);
}

.skill img{
    height: 25px;
    margin-right: 15px;
}

.skill p{
    transform: translateY(-3px);
}

.skillset-topic{
    font-size: 25px;
    text-align: center;
}

.project .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow:1;
}
  
.project .boxes .box {
    border: 2px solid white;
    margin: 20px auto;
    background: #0077A1;
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: transform 0.4s ease;
}
  
.box .topic p{
    font-size: 30px;
    font-weight: 500;
    color: #0077A1;
}

.topic{
    font-size:20px;
    font-weight:800;
    color:#fff;
}

.project .boxes .box:hover {
    transform: scale(1.06);
    background: white;
    border: 2px solid #0077A1;
    color: #0077A1;
}
  
.project .boxes .box .icon  {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #0077A1;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
  
.box:hover p{
   color:#0077A1;
}

.boxes .box:hover .icon {
    background: #0077A1;
    color: white;
}

.boxes .box:hover .tools{
    color: white;
    background-color: #0077A1;
}

.project .boxes .box:hover .topic{
    color:#0077A1;
}

.box-icon{
    display: flex;
    justify-content: center;
}

.box-icon img{
    height:40px;
    width:auto;
    margin: 20px;
    transition: all 0.4s ease;
}

.box-icon img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
  
.project-img {
    max-width: 100%; 
    height: auto; 
    margin-bottom:20px;
    transition : transform 0.3s linear;
}

.project-img:hover {
    transform: scale(1.1);
}

.prj-img-flw{
    overflow: hidden;
}

.tools{
    color: #0077A1;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
}

.txt2 .tech-title{
    font-weight: 500;
    font-size: 25px;
}

.tech-stack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section .content {
    width: 90%;
    margin: 40px auto;
}
    
section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

section .title span {
    color: #0077A1;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
  
section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
  
.contact{
    display: flex;
    justify-content: center;
}

.social{
    display:flex;
    justify-content: center;
}

.social img{
    margin: 20px;
    width:50px;
    height:auto;
    transition: transform 0.4s ease;
}

.social img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

input,textarea{
    border-color: #000000;
    border-radius: 7px;
}

.footer-container{
    display: flex;
    justify-content: center;
}

footer{
    height: 35px;
    background-color: #0077A1;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    position: fixed;
    bottom:6px;
    width: 95%;
    border: 2px solid #fff;
}
