@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
  }

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

header {
    background-color:#E50914;
    font-family:'Poppins', sans-serif;
    border-radius: 15px;
    margin:7px;
    margin-left: 15px;
    margin-top: 1px;
    position: fixed;
    width: 98%;
    z-index: 999;
}

.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #E50914;
    padding: 7px 12px;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

h2{
    color: #E50914;
    text-align: center;
    text-decoration: underline;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar-custom{
    background-color: #E50914;
    border-radius: 10px;

}

.navbar.navbar-custom {
    border-radius: 30px;
}

.hd-txt{
    color: #000000 !important;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.hd-txt:hover{
    color:#FFFFFF !important;
}

.fon{
    color:#FFFFFF !important;
    font-size: 30px;
    font-weight: 1000;
    font-family:'Ubuntu', sans-serif;
}

.navbar-toggler{
    border: 3px solid black !important; 
    border-radius: 10px;
    background-color: #FFFFFF;
} 

.navbar-toggler:hover{
    transform: scale(1.2);
} 


section{
    margin-top:10px ;
}

a.txt { 
    color:#000000;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

a:hover {
    color: #FFFFFF;
}

.image {
    max-width: 100%;
    height: auto; 
    transition: transform 0.3s; 
    border-radius: 20px;
    margin: 20px;
}

.image:hover {
    transform: scale(1.5); 
    
}
